<div class="h-100 h-fill">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-avatar *ngIf="avatarPath" slot="start" class="ion-small-avatar ion-margin-start">
      <img [src]="avatarPath" />
    </ion-avatar>
    <ion-title size="medium">{{ tittle }}</ion-title>
    <ion-title size="small">
      <span *ngIf="userName">{{ userName }}: </span> {{ description }}
    </ion-title>
  </ion-toolbar>
  <ion-content class="h-toolbar-100">
    <ng-content></ng-content>
  </ion-content>
</div>
