<app-dialog-container
  class="h-100"
  tittle="Komentarze"
  [description]="food.name"
  [userName]="food.user.username"
  [avatarPath]="food.photoPath"
>
  <ion-list>
    <ion-item lines="none">
      <mat-form-field class="w-100">
        <mat-label>Komentarz</mat-label>
        <input matInput [formControl]="commentFormControl" type="text" placeholder="Napisz komentarz..." />
        <mat-error *ngIf="commentFormControl?.hasError('required')">
          Należy wpisać treść.
        </mat-error>
      </mat-form-field>
      <ion-buttons>
        <ion-button (click)="sendComment()">
          <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item *ngFor="let comment of comments$ | async">
      <ion-avatar slot="start">
        <img [src]="comment.user.photoPath" />
      </ion-avatar>
      <ion-label>
        <h2>{{ comment.user.username }}</h2>
        <p>{{ comment.createDate }}</p>
        <h3>{{ comment.comment }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</app-dialog-container>
