<ion-card>
  <ion-card-header>
    <ion-card-title>Logowanie</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <app-login-form #form (singIn)="singIn($event)"></app-login-form>

    <div class="d-flex ion-justify-content-end">
      <a [routerLink]="['../', AppRoutesEnum.REGISTER]">
        <button mat-button>
          Załóż konto
        </button>
      </a>
      <button
        mat-flat-button 
        color="primary"
        [disabled]="isLogging$ | async"
        (click)="form.submitForm()"
      >
        <app-loading-button [isLoading]="isLogging$ | async"
          >Zaloguj</app-loading-button
        >
      </button>
    </div>
  </ion-card-content>
</ion-card>
