<div class="picker">
  <div 
    class="app-img"
    [style.background-image]="'url(' + selectedImage + ')'"
    *ngIf="!!selectedImage && !!showPreview"
    (click)="onPickImage()"
    alt="my photo"
  ></div>

  <!-- <img
    class="w-100"
    [src]="selectedImage"
    (click)="onPickImage()"
    *ngIf="!!selectedImage && !!showPreview"
    alt="my photo"
  /> -->
  <button
    mat-flat-button
    color="primary"
    class="app-icon-button"
    (click)="onPickImage()"
    *ngIf="!selectedImage || !showPreview"
  >
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label>Zrób zdjęcie</ion-label>
  </button>
</div>
<input type="file" accept="image/jpeg" *ngIf="usePicker" #filePicker (change)="onFileChosen($event)" />
