/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import './variables.scss';
@import './layout.scss';
@import './materials.scss';

.app-pure-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.app-spin-button {
  position: absolute !important;
  top: calc(50% - 14px) !important;
  left: calc(50% - 14px) !important;
}

.app-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
      font-size: 26px;
      margin: 0 0.5rem 0 0 !important;
      padding: 0 !important;
    }
  }
}

.app-avatar {
  display: flex;
  align-items: center;
  padding: 0 !important;
  ion-avatar {
    width: 100% !important;
    height: 100% !important;
  }
}
.app-avatar-sm {
  height: 55px !important;
  width: 55px !important;
}
.app-avatar-md {
  height: 80px !important;
  width: 80px !important;
}
.app-avatar-lg {
  height: 110px !important;
  width: 110px !important;
}

.app-img {
  padding-top: 100%;
  width: 100%;

  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
