.mat-tab-labels {
  display: flex;
  justify-content: space-around;
}

.mat-tab-body-wrapper {
  height: 100% !important;

}.app_mat-stepper-icon {
  font-size: 22px;
}

mat-tab-group.app-mat-tab-col-2 {
  .mat-tab-label {
    width: 50% !important;
  }
}
mat-tab-group.app-mat-tab-col-3 {
  .mat-tab-label {
    width: 33.33% !important;
  }
}

.app-matbut-icon {
  * {
    ion-icon {
      width: $ion-icon-in-mat-button;
      height: $ion-icon-in-mat-button;
    }
  }
}

.modal-wrapper {
  color: black;
}

.ion-small-avatar {
  width: 40px !important;
  height: 40px !important;
}