<div class="h-100">
  <mat-tab-group class="h-100 app-mat-tab-col-3">
    <mat-tab class="h-100">
      <ng-template mat-tab-label>
        <div class="d-flex flex-column flex-x-center">
          <ion-icon
            *ngIf="isMapCorrect$ | async"
            class="app_mat-stepper-icon ion-no-margin"
            style="color: green"
            name="checkmark-circle-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="!(isMapCorrect$ | async) && (isSubmitted$ | async)"
            class="app_mat-stepper-icon ion-no-margin"
            style="color: red"
            name="alert-circle-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="!(isMapCorrect$ | async) && !(isSubmitted$ | async)"
            class="app_mat-stepper-icon ion-no-margin"
            name="map-outline"
          ></ion-icon>
          <h6 class="ion-no-margin">
            Lokalizacja
          </h6>
        </div>
      </ng-template>
      <div class="h-100">
        <app-food-map
          *ngIf="geolocation && geolocation.lat && geolocation.lng"
          (selectPlace)="setDraft(1, $event)"
          [latitude]="geolocation?.lat"
          [longitude]="geolocation?.lng"
        ></app-food-map>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="d-flex flex-column flex-x-center">
          <ion-icon
            *ngIf="isCameraCorrect$ | async"
            class="app_mat-stepper-icon ion-no-margin"
            style="color: green"
            name="checkmark-circle-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="!(isCameraCorrect$ | async) && (isSubmitted$ | async)"
            class="app_mat-stepper-icon ion-no-margin"
            style="color: red"
            name="alert-circle-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="!(isCameraCorrect$ | async) && !(isSubmitted$ | async)"
            class="app_mat-stepper-icon ion-no-margin"
            name="camera-outline"
          ></ion-icon>
          <h6 class="ion-no-margin">
            Zdjęcie
          </h6>
        </div>
      </ng-template>
      <div class="h-100">
        <app-food-photo (selectPhoto)="setDraft(2, $event)"></app-food-photo>
      </div>
    </mat-tab> 
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="d-flex flex-column flex-x-center">
          <ion-icon
            *ngIf="isFormCorrect$ | async"
            class="app_mat-stepper-icon ion-no-margin"
            style="color: green"
            name="checkmark-circle-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="!(isFormCorrect$ | async) && (isSubmitted$ | async)"
            class="app_mat-stepper-icon ion-no-margin"
            style="color: red"
            name="alert-circle-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="!(isFormCorrect$ | async) && !(isSubmitted$ | async)"
            class="app_mat-stepper-icon ion-no-margin"
            name="document-text-outline"
          ></ion-icon>
          <h6 class="ion-no-margin">
            Ocena
          </h6>
        </div>
      </ng-template>
      <div class="h-100 ion-margin">
        <app-food-form
          class="h-100"
          [foodTypes$]="foodTypes$"
          (save)="save($event)"
          #form
        ></app-food-form>
        <button mat-button (click)="form.submitForm()">
          Zapisz
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
