<div style="margin: 0 -1px">
  <div class="app-pure-row">
    <ion-col size="4" style="padding: 1px" *ngFor="let food of foods">
      <div
        (click)="foodClickEmmit(food.id)"
        class="app-img"
        [style.background-image]="'url(' + food.photoPath + ')'"
      ></div>
    </ion-col>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNextDataEmit()">
      <ion-infinite-scroll-content loadingSpinner="dots"> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</div>
